html {
	font-family: "helvetica";
}

body {
	background-color: white;
}

hr {
	opacity: 0.35;
}

#convo-container {
	height: 125px;
	overflow: auto;
	margin-bottom: 10px;
}

#form {
	position: absolute;
	bottom: 2px;
	left: 10px;
	width: 380px;
}

input {
	border: 0;
	width: 277px;
	height: 35px;
	outline: none;
	font-size: 16px;
	margin-bottom: 4.8px;
	vertical-align: bottom;
}

#output {
	line-height: 16px;
}

.btn {
	color: gray;
	font-size: 16px;
	background-color: white;
	padding: 10px 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	cursor: pointer;
	width: 60px;
	line-height: 20px;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	pointer-events: none;
	opacity: .35;
	position: relative;
	bottom: 3px;
	left: 14px;
}

.ready {
	pointer-events: unset;
	opacity: 1;
}

.btn:not(:focus):hover {
	background-color:lightgray;
	color: white;
}

.btn:active {
	
	color: rgba(255, 255, 255, .55);
	background-color: lightgray;
}

